body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Spline Sans', sans-serif;

    /* height: 260px; */

}


.img {

    background: url('../img/About1.jpeg') no-repeat center;
    background-size: cover;
    height: 630px;

}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 50px;

}

.left img {
    width: 65px;
    height: auto;
}

.left div {
    text-align: center;
    font-size: 0.8rem;
    /* line-height: 5px; */
}

.mid {
    position: relative;
    display: inline-block;
    /* border: 2px solid green; */
    width: 45%;
    left: 495px;
    top: 12px;
    color: black;



}

.right {
    position: absolute;
    right: 20px;
    top: 25px;
    /* border: 2px solid saddlebrown; */
    display: inline-block;


}

.navbar {
    display: inline-block;

}

.navbar li {
    display: inline-block;
    font-size: 17px;

}

.navbar li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 30px 30px;
}

.navbar li a:active,
.navbar li a:hover {

    text-decoration: underline;
    color: rgb(220, 142, 24);
    /* color: rgb(0, 0, 0); */


}


.btn {
    margin: 0px 9px;
    font-size: 1.2rem;
    color: white;
    background-color: #565656;
    border-radius: 8px;
    padding: 5px 4px;
    cursor: pointer;
    font-family: 'Spline Sans', sans-serif;

}

.btn:hover {
    background-color: rgb(60, 61, 61);
    color: rgb(220, 142, 24);
    font-family: 'Spline Sans', sans-serif;


}

/* .about {
    height: 400px;


} */